:root {
  font-family: Roboto;
}

body {
  --background: #FFF6F0;
  --yellow: #E2B33A;
  --dark-grey: #252525;
  --grey: #585858;
  --light-grey: #949494;
  --light-red: #F55A5A;
  --brown: #B89E9E;
  --black: #000000;
  --white: #FFFFFF;

  background-color: var(--background);
}

body.dark {
  --background: black;
}

img {
  max-width: 100%;
}

main {
  margin-top: 120px;
}