:root {
  font-family: Roboto;
}

body {
  --background: #FFF6F0;
  --grey: #252525;
  background-color: var(--background);
}

body.dark {
  --background: black;
}

img {
  max-width: 100%;
}

main {
  margin-top: 80px;
}