.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 21px 29px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainInfo {
  align-self: flex-start;
}

.title {
  color: var(--grey);
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 15px;
}

.img {
  margin: 15px 0 10px 0;
  width: 50px;
}

.orderNumber {
  color: var(--yellow);
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.32px;
  margin-top: 3px;
}

.block {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}

.preInfo {
  color: var(--brown);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.24px;
}

.info {
  font-size: 20px;
  margin-top: 10px;
  line-height: 160%;
}

.footer {
  color: var(--light-grey);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  margin-top: 40px;
  max-width: 400px;
}

/* ------------- */


.loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #1c93e3;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation .8s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}