.card {
  margin-top: 40px;
  min-width: 300px;
  border: 2px solid var(--black);
  align-self: start;
}

.top {
  background-color: var(--brown);
  border-radius: 6px 6px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--white);
  font-weight: 500;
  font-size: 14px;
}

.name {
  color: var(--dark-grey);
  font-size: 20px;
  font-weight: 700;
}

.originalName {
  color: var(--light-grey);
  font-size: 16px;
}