.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}

.title {
  color: var(--brown);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.24px;
}

.info {
  font-size: 20px;
  margin-top: 10px;
  line-height: 160%;
}