.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 80px;
  background-color: var(--background);
  border-bottom: 2px black solid;

  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 3;
}


.btn {
  width: 120px;
}

.insideBtn {
  width: 100%;
  display: flex;
  justify-content: space-around;
}